option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_superuser:
    command: "python manage.py shell -c \"from django.contrib.auth.models import User; User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'Admin123!')\""
    leader_only: true
